[Unit]
# The script needs to execute after:
# network interfaces are configured
Wants=network-online.target
After=network-online.target
# provisioning is complete
After=waagent.service
After=cloud-init.service
After=google-instance-setup.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/cloudinstancecredentials-config

[Install]
WantedBy=multi-user.target
