[Unit]
# The script needs to execute after:
# network interfaces are configured
Wants=network-online.target
After=network-online.target
# provisioning is complete
After=waagent.service
After=cloud-init.service
After=google-instance-setup.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/set-http-basic-credentials
ExecStartPost=/usr/bin/systemctl try-reload-or-restart nginx.service

[Install]
WantedBy=multi-user.target
